.roadmap-section {
    height: 70vh;
    background-color:#f5f3c6;
    background-image: url(./bg2.jpeg);
}


@media only screen and (max-width: 1700px) {
    .vertical-timeline-element-date {
      display: block !important;
      float: none !important;
      color: rgb(44, 44, 44);
      margin-top: 1.5em;
    } 
  }
  
.roadmap_title {
    padding-left: 45%;
}

  .h1 {
    font-weight: 700;
    font-size: 50px;
  }

  .test {
    background:transparent;
  }

  .time-icon {
    border-radius: 50%;
    height: 100%;
    width: 100%;
  }

  .date {
    color:yellow;
    font-weight:700;
    font-size: 200px;
  }