.home_section {
    height: 70vh;
    background-color: #eff9fd;    
    font-family: Inter, sans-serif;
}

.home_grid {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding-top: 11vh;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
    grid-template-rows: auto auto;
}

.home_intro {
    position: static;
    top: auto;
    overflow: visible;
    padding-top: 5%;
    -o-object-fit: fill;
    object-fit: fill;
  }

  .home_image {
    padding-right: 19vh;
    padding-left: 17vh;
  }

  .img_cat {
    width: 400px;
    border-radius: 20px;
  }

  .home_header {
      padding-left: 200px;
      font-weight: 700;
      font-size: 50px;
  }

  .home_description {
    padding-left: 200px;
    font-size: 20px;
  }

  @media screen and (max-width: 991px) {
      .home_image {
          padding-right: 33vh;
          padding-left: 5px;
        }
        
        .home_intro {
            padding-top: 0%;
            padding-right: 0px;
            padding-left: 84px;
        }
      
  }

.mint {
  padding-top: 15%;
}